/* Explanation caption for the shoe size*/
.container h1{
    margin-bottom: 25px;
}

/*Table styling */
.table-container {
    max-width: 100%;
    overflow-x: auto;
    border: 1px solid #ddd;
}
table {
    width: 100%;
    border-collapse: collapse;
    min-width: 500px;
    text-align: left;
}
th, td {
    padding-right: 24px;
    border: 1px solid #ddd;
    font-size: 16px;
}

th {
    background-color: #f8f8f8;
    font-weight: bold;
}

/*Here we are styling the list of steps*/
.steps {
    list-style-type: none;
    padding-left: 0;
}
.steps li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}
.steps li span.step-number {
    color: #888;
    text-align: right;
    margin-right: 15px;
}
.steps li p {
    margin: 0;
}
