

/* Section about the sub-video */
.video-section {
    position: relative;
    height: 60vh;
    overflow: hidden;
}

.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.video-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.video-overlay h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.video-overlay button {
    padding: 0.7rem 1.5rem;
    background-color: #ff6600;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
}

.video-overlay button:hover {
    background-color: #ff3300;
}

/* Brand images */
.brand {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background-color: #fff;
}

.brand-img img {
    width: 100%;
    max-width: 150px;
    height: auto;
    object-fit: contain;
}

/* Banners */
.banner {
    background-color: #000;
    color: #fff;
    padding: 0.5rem 0;
    text-align: center;
    margin-top: 2rem;
}

/* products */
.products {
    display: grid;
    gap: 1.5rem;
    padding: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.products-card {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.products-card:hover {
    transform: scale(1.05);
}

.products-images {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}


.profile {
    display: flex; /* Usar flexbox para alinear elementos */
    align-items: center; /* Centrar verticalmente */
}

.profile-image {
    width: 50px; /* Ancho de la imagen de perfil */
    height: 50px; /* Alto de la imagen de perfil */
    border-radius: 50%; /* Hacer la imagen circular */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
    margin-right: 10px; /* Espacio entre la imagen y el nombre */
}

.profile {
    display: flex; /* Usar flexbox para alinear elementos */
    align-items: center; /* Centrar verticalmente */
}

.profile-image {
    width: 50px; /* Ancho de la imagen de perfil */
    height: 50px; /* Alto de la imagen de perfil */
    border-radius: 50%; /* Hacer la imagen circular */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
    margin-right: 10px; /* Espacio entre la imagen y el nombre */
}

.profile-name {
    font-size: 16px; font-weight: bold; /* Hacer el nombre en negrita */
    color: #333; /* Color del texto */
}

/** MAKE IT IN ENGLISH */

/* Estilos del Modal */
.modal {
    display: none; /* Ocultar el modal por defecto */
    position: fixed; /* Fijo en la pantalla */
    z-index: 1000; /* Asegurar que esté por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    overflow: auto; /* Agregar scroll si es necesario */
    background-color: rgba(34, 33, 33, 0.8); /* Fondo semi-transparente */
}

.modal-content {
    position: relative;
    margin: 15% auto; /* Margen superior e inferior */
    padding: 20px;
    width: 60%; /* Ancho del modal */
    background-color: #fff; /* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    text-align: center;
}

.modal-logo {
    width: 100px; /* Ajustar el tamaño del logo */
    margin-bottom: 10px;
}

.modal-video {
    width: 100%; /* Ancho completo del video */
    height: fit-content; /* Altura automática */
}

.modal-button {
    padding: 0.7rem 1.5rem;
    background-color: #383533;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
    margin-top: 10px;
}

.modal-button:hover {
    background-color: #ff3300;
}

/* Estilo para cerrar el modal */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #333;
    cursor: pointer;

   
}

/* Estilos para el pie de página */
footer {
    margin-top: 2rem;  /* Asegura que el footer se separe un poco del contenido */
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
}

/* Barra de desplazamiento personalizada */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #ff6600;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ff3300;
}

