<!DOCTYPE html>
<html lang="en">
  <head>
    <title>footer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../src/styles/components/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>
  <body>
 
    <footer>
      <div class="footer-container">
        <div class="footer-logo">
          <h2>SneakerVerse</h2>
        </div>
        
        <div class="footer-nav">
          <ul>
            <li><a href="privacyPolicy.html" target="_blank">Privacy Policy</a></li>
          </ul>
        </div>
        
        <div class="footer-social">
          <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook fa-2xl"></i></a>
          <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram fa-2xl"></i></a>
          <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter fa-2xl"></i></a>
        </div>
        
        <div class="footer-copyright">
          <p>&copy; 2024 SneakerVerse. All rights reserved.</p>
        </div>
      </div>
    </footer>
  </body>
</html>
