<!DOCTYPE html>
<html lang="en">
  <head>
    <title>footer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles/components/footer.css">
  </head>
  <body>
 
    <footer>
      <div class="footer-container">
        <div class="footer-logo">
          <h2>SneakerVerse</h2>
        </div>
        
        <div class="footer-nav">
          <ul>
            <li><a href="#about">About</a></li> <!--TODO: add a small description about de website, right, credits, contact or cookies maybe?-->
          </ul>
        </div>
        
        <div class="footer-social">
          <a href="https://facebook.com" target="_blank">Facebook</a>
          <a href="https://instagram.com" target="_blank">Instagram</a>
          <a href="https://twitter.com" target="_blank">Twitter</a>
        </div>
        
        <div class="footer-copyright">
          <p>&copy; 2024 SneakerVerse. All rights reserved.</p>
        </div>
      </div>
    </footer>
  </body>
</html>
