# Default ignored files
/../../../../Università Portogallo/ProgrammingWeb/website-sneakverse/.idea/shelf/
/../../../../Università Portogallo/ProgrammingWeb/website-sneakverse/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../Università Portogallo/ProgrammingWeb/website-sneakverse/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../Università Portogallo/ProgrammingWeb/website-sneakverse/.idea/dataSources/
/../../../../Università Portogallo/ProgrammingWeb/website-sneakverse/.idea/dataSources.local.xml
